.video-js.vjs-watermark {
  display: block;
}
.video-js .vjs-watermark-content {
  -moz-transition: visibility 1s, opacity 1s;
  -ms-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  -webkit-transition: visibility 1s, opacity 1s;
  margin: 0 !important;
  opacity: 0.8;
  padding: 0 !important;
  position: absolute;
  transition: visibility 1s, opacity 1s;
  z-index: 9;
}
.video-js .vjs-watermark-top-right {
  right: 60px;
  top: 30px;
}
.video-js .vjs-watermark-top-left {
  left: 60px;
  top: 30px;
}
.video-js .vjs-watermark-bottom-right {
  bottom: 30px;
  right: 60px;
}
.video-js .vjs-watermark-bottom-left {
  bottom: 30px;
  left: 60px;
}
.video-js .vjs-watermark-center {
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video-js .vjs-watermark-top-center {
  left: 50%;
  text-align: center;
  top: 30px;
  transform: translate(-50%);
}
.video-js .vjs-watermark-bottom-center {
  left: 50%;
  text-align: center;
  bottom: 30px;
  transform: translate(-50%);
}
.video-js .vjs-watermark-offcenter-center {
  bottom: 25%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}
.video-js .vjs-watermark-offcenter-left {
  bottom: 25%;
  left: 60px;
}
.video-js .vjs-watermark-offcenter-right {
  bottom: 25%;
  right: 60px;
}
.video-js .vjs-watermark-content a {
  text-decoration: none;
}
.video-js.vjs-user-inactive.vjs-playing .vjs-watermark-fade {
  opacity: 0;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} 

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
